ul.link-item
{
    list-style-image: url('/img/linkki-ikoni_small.png');
}

#logoheader
{
    padding: 75px 10px;
}

.splash
{
    padding: 10px;
}

.panel-body
{
    padding: 15px 0px;
}

blockquote
{
    margin:auto 15px;
}

div.navbar-header
{
    padding-left: 60px;
}

.article .collapse
{
    padding-left: 0px;
}

body, html {
    margin: 0px;
    background-color: #e5f9eb;
    /*background-color: LightCyan;*/
}

#all, #main {
    margin: 0;
    height: 100%;
}

body
{
    padding-bottom: 0px;
}

#all
{
    min-height: 100%;
}

article
{
    border: none;
    min-height: 100%;
    padding-bottom: 100px;
    background-color: inherit;
}

a.list-group-item .list-group-item-heading
{
    color: #2b669a;
}

ul.navbar-nav
{
    margin-right: 10px;
}

img.img-vkbot
{
    max-height: 400px;
    max-width: 400px;
}