<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
    <div id="main">
        <div id="header">
            ШАПКА
            <div id="logo">
                Здесь логотип
            </div>
            КОНЕЦ ШАПКИ
            <div id="chatname">
                <h1>{{ chatName }}</h1>
            </div>
        </div>
        <div id="content">
            <div id="search">
                <div class="search">
                    <form action="/chat" method="GET">
                        <div class="actions">
                            <input type=text name=search value="{{ request.form.search }}">
                            <input type=hidden name="chatId" value="{{ request.args["chatId"] }}">
                            <input type=submit value="search">
                        </div>
                    </form>
                </div>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

	</body>
</html>
