<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
    <div id="main">
        <div id="header">
            ШАПКА
            <div id="logo">
                Здесь логотип
            </div>
            КОНЕЦ ШАПКИ
            <div id="chatname">
                <h1>{{ chatName }}</h1>
            </div>
        </div>
        <div id="content">
            <div id="search">Поиск</div>
            <div id="messages">
                {% for message in messages %}
                    <div class="message">
                        msg={{ message["messageContent"] }}
                        {% for file in message["files"] %}
                            <div class="attachment">
                                <p>
                                name = {{ file["name"] }}
                                </p>
                                {% if file["type"] == 1 %}
                                <p class="attimg">
                                    <a href="{{ file["path"] }}">
                                        <img src="{{ file["path"] }}"/>
                                    </a>
                                </p>
                                {% else %}
                                <p class="atturl">
                                    <a href="{{ file["path"] }}">ссыль на Вложение</a>
                                </p>
                                {% endif %}
                                </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

	</body>
</html>
