<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
    <div id="main">
        <div id="header">
            ШАПКА
            <div id="logo">
                Здесь логотип
            </div>
            КОНЕЦ ШАПКИ
            <div id="chatname">
                <h1>{{ chatName }}</h1>
            </div>
        </div>
        <div id="content">
            <div id="search">Поиск</div>
            <div id="messages">
                {% for message in messages %}
                    <div class="message">
                    <p>
                        msg = {{ message["messageContent"] }}
                    </p>
                    <p>
                        username = {{ message["userName"] }}
                    </p>
                        <div class="attachment">
                            {% for photo in message["files"]["photo"] %}
                                <p>image</p>
                                <p class="attimg">
                                    <p>name = {{ photo["name"] }}</p>
                                    <a href="{{ photo["path"] }}">
                                        <img src="{{ photo["path"] }}"/>
                                    </a>
                                </p>
                            {% endfor %}
                            {% for other_type_name in ["video", "audio", "link", "doc"] %}
                                {% for other in message["files"][other_type_name] %}
                                    <p class="atturl">
                                        <p>type={{ other_type_name }}</p>
                                        <a href="{{ other["path"] }}">{{ other["name"] }}</a>
                                    </p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

	</body>
</html>
