<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/css/base.css">
    </head>
    <body>
    <div id="main">
        <div id="header">
            ШАПКА
            <div id="logo">
                Здесь логотип
            </div>
            КОНЕЦ ШАПКИ
        </div>
        <div id="content">
            <div id="search">Поиск</div>
            <div id="chats">
                {% for row in chats %}
                    <div class="chat">
                    name={{ row["name"] }}
                    <a href="{{ row["url_chat"] }}">ссыль на чат</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

	</body>
</html>
