{% extends "index.html" %}
{% block intro_content %}
    {% if session.get('vkid', None) is none %}
        <p><a href="/auth">Авторизация</a></p>
        Не авторизованы
    {% else %}
        <div class="list-group">
            Авторизованы
            {% for row in chats %}
                <div class="chat">
                    <a href="{{ row["url"] }}" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{ row["name"] }}
                        </h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}