<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oauth</title>
    <script src="https://vk.com/js/api/openapi.js?136" type="text/javascript"></script>
    <script type="text/javascript">
        VK.init({apiId: 5737145});
    </script>
</head>
<body>

<div id="vk_auth"></div>
<script type="text/javascript">
    function popup() {
        VK.Auth.login(function (response) {
            if (response.session) {
                ses = response.session;
                hashpart = `expire=${ses.expire}mid=${ses.mid}secret=${ses.secret}sid=${ses.sid}`;
                window.location = `/oauth-success?uid=${ses.user.id}&sig=${ses.sig}&hashpart=${hashpart}`;
            }
        });
    }
</script>
<input type="button" value="Click Me!" onclick="popup()"><br/><br/>

</body>
</html>